<template name="codeSubmit">
    <button class="ui primary button" onclick="$('.small.modal').modal('show');">submit (ง •̀灬•́)ง</button>
    <div class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Submit your code.
        </div>
        <div class="content">
            <div class="ui form">
                <div class="field">
                    <label>Paste your code here.</label>
                    <textarea id="code"></textarea>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui green button">Submit</div>
        </div>
    </div>
</template>