<template name="problemSubmit">
    <div class="ui segment" style="margin-top: 30px">
        <form class="ui form">
            <div class="field">
                <label>Title</label>
                <input type="text" placeholder="A + B Problem.">
            </div>
            <div class="field">
                <label>CPU (s)</label>
                <input type="text" placeholder="1">
            </div>
            <div class="field">
                <label>Memory (m)</label>
                <input type="text" placeholder="32">
            </div>
            <div class="field">
                <label>Description</label>
                <textarea></textarea>
            </div>
            <div class="field">
                <label>Input sepc</label>
                <textarea></textarea>
            </div>
            <div class="field">
                <label>Output sepc</label>
                <textarea></textarea>
            </div>
            <div class="field">
                <label>Sample input</label>
                <textarea></textarea>
            </div>
            <div class="field">
                <label>Sample output</label>
                <textarea></textarea>
            </div>
            <div class="inline field">
                <div class="ui checkbox">
                    <input type="checkbox">
                    <label>Hidden?</label>
                </div>
            </div>
            <div class="ui submit button">Submit</div>
        </form>
    </div>
</template>