<template name="problems">
    <table class="ui very compact celled striped table" style="margin-top:30px">
        <thead>
            <tr class="center aligned">
                <th class="one wide">Solved</th>
                <th class="one wide">Id</th>
                <th class="eleven wide">Title</th>
                <th class="three wide">Rat</th>
            </tr>
        </thead>
        <tbody>
            {{#each problems}}
            <tr class="center aligned">
                <td><i class="checkmark icon"></i> </td>
                <td><a href="/problems/{{_id}}">{{pid}}</a></td>
                <td><a href="/problems/{{_id}}">{{title}}</a></td>
                <td>100%</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</template>