<template name="problems">
    <table class="ui very compact celled striped table" style="margin-top:30px">
        <thead>
            <tr class="center aligned">
                <th class="one wide">Solved</th>
                <th class="one wide">Id</th>
                <th class="eleven wide">Title</th>
                <th class="three wide">Rat</th>
            </tr>
        </thead>
        <tbody>
            <tr class="center aligned">
                <td><i class="checkmark icon"></i> </td>
                <td><a href="#">1000</a></td>
                <td><a href="#">A+B problem</a></td>
                <td>100%</td>
            </tr>
            <tr class="center aligned">
                <td><i class="checkmark icon"></i> </td>
                <td><a>1001</a></td>
                <td><a>Sum Problem</a></td>
                <td>100%</td>
            </tr>
            <tr class="center aligned">
                <td><i class="checkmark icon"></i> </td>
                <td><a>1002</a></td>
                <td><a> A + B Problem II</a></td>
                <td>100%</td>
            </tr>
            <tr class="center aligned">
                <td><i class="checkmark icon"></i> </td>
                <td><a>1003</a></td>
                <td><a>Max Sum</a></td>
                <td>100%</td>
            </tr>
        </tbody>
    </table>
</template>