<template name="problemSubmit">
    <div class="ui segment" style="margin-top: 30px">
        <form class="ui form">
            <div class="field">
                <label>Title</label>
                <input type="text" placeholder="A + B Problem." name="title">
            </div>
            <div class="field">
                <label>CPU (s)</label>
                <input type="text" placeholder="1" name="cpu">
            </div>
            <div class="field">
                <label>Memory (m)</label>
                <input type="text" placeholder="32" name="memory">
            </div>
            <div class="field">
                <label>Description</label>
                <textarea name="description"></textarea>
            </div>
            <div class="field">
                <label>Input sepc</label>
                <textarea name="inputspec"></textarea>
            </div>
            <div class="field">
                <label>Output sepc</label>
                <textarea name="outputspec"></textarea>
            </div>
            <div class="field">
                <label>Sample input</label>
                <textarea name="sampleinput"></textarea>
            </div>
            <div class="field">
                <label>Sample output</label>
                <textarea name="sampleoutput"></textarea>
            </div>
            <input type="submit" class="ui submit button" value="submit">
        </form>
    </div>
</template>