<template name="problem">
    <div class="ui segment" style="margin-top: 30px">
        <h1 class="ui header" style="color: #3f3e3a;font-weight: 400;margin-top: 20px">
            {{title}}
        </h1>
        <small style="color: #3f3e3a;">CPU: {{cpu}}s</small><br>
        <small style="color: #3f3e3a;">Memory: {{memory}}m</small><br><br>
        <p style="color: #3f3e3a;">
            {{description}}
        </p>
        <h3 class="ui header" style="color: #3f3e3a;font-weight: 400;">
            Input Specification
        </h3>
        <p style="color: #3f3e3a;">
            {{inputspec}}
        </p>
        <h3 class="ui header" style="color: #3f3e3a;font-weight: 400;">
            Output Specification
        </h3>
        <p style="color: #3f3e3a;">
            {{outputspec}}
        </p>
        <h3 class="ui header" style="color: #3f3e3a;font-weight: 400;">
            Sample
        </h3>
        <h4 class="ui header" style="color: #3f3e3a;font-weight: 400;">
            Input
        </h4>
        <pre>{{sampleinput}}</pre>
        <h4 class="ui header" style="color: #3f3e3a;font-weight: 400;">
            Output
        </h4>
        <pre>{{sampleoutput}}</pre>
        <br>
        <button class="ui primary button" onclick="$('.small.modal').modal('show');">submit (ง •̀灬•́)ง</button>
    </div>
    <div class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Submit your code.
        </div>
        <div class="content">
            <div class="ui form">
                <div class="field">
                    <label>Paste your code here.</label>
                    <textarea></textarea>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui button">Cancel</div>
            <div class="ui green button">Submit</div>
        </div>
    </div>
</template>