<template name="status">
    <table class="ui very compact celled striped table" style="margin-top:30px">
        <thead>
        <tr class="center aligned">
            <th class="four wide">Submit Time</th>
            <th class="four wide">Judge Status</th>
            <th class="one wide">Pro.Id</th>
            <th class="one wide">Exe.Time</th>
            <th class="one wide">Exe.Memory</th>
            <th class="one wide">Language</th>
            <th class="four wide">Author</th>
        </tr>
        </thead>
        <tbody>
        {{#each judgeRet}}
        <tr class="center aligned">
            <td>{{submitTime}}</td>
            <td class="positive">{{statu}}</td>
            <td>{{proId}}</td>
            <td>{{cpu}}s</td>
            <td>{{memory}}k</td>
            <td>C++</td>
            <td>{{author}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</template>