<div class="col-md-8" >
		<form class="form-horizontal" method="POST" action="/signUp">
			<!--uname input-->
			<div class="form-group">
				<label class="col-lg-4 control-label">请输入帐号：</label>
				<div class="col-lg-6">
					<input id="uname" class="form-control" name="uname" onchange ="checkuname" placeholder="Account">
				</div>
			</div>
			<!--end of uname input-->
			<!--uname taken tip-->
			<div class="form-group">
				<div class="col-lg-offset-4 col-lg-6">
					{{.UnameTip}}
				</div>
			</div>
			<!--end of uname taken tip-->
			<!--pwd input-->
			<div class="form-group">
				<label class="col-lg-4 control-label">请输入密码：</label>
				<div class="col-lg-6">
					<input id="pwd" type="password" class="form-control" name="pwd" 
					placeholder="Password">
				</div>
			</div>
			<!--end of pwd input-->

			<!--pwd input-->
			<div class="form-group">
				<label class="col-lg-4 control-label">请确认密码：</label>
				<div class="col-lg-6">
					<input id="pwdEnsure" type="password" class="form-control" name="pwdEnsure" 
					placeholder="Password">
				</div>
			</div>
			<!--end of pwd input-->

			<!--email input-->
			<div class="form-group">
				<label class="col-lg-4 control-label">请输入邮箱：</label>
				<div class="col-lg-6">
					<input id="uemail" type="text" class="form-control" onchange="checkEmail()" name="uemail" 
					placeholder="邮箱">
				</div>
			</div>
			<!--end email input-->

			<!--uemail taken tip-->
			<div class="form-group">
				<div class="col-lg-offset-4 col-lg-6">
					{{.UemailTip}}
				</div>
			</div>
			<!--end of uemail taken tip-->

			<div class="form-group">
				<div class="col-lg-offset-4 col-lg-10">
					<a href="/login"><button type="submit" class="btn btn-default" onclick="return checkInput();">注册</button></a>
					<button class="btn btn-default" onclick="return backToHome();">返回</button>
				</div>
			</div>
		</form>
	</div>
	</body>

<!--需要将合法性检查改成输入变化后就做-->
	<script type="text/javascript">
		//回到主页
		function backToHome() {
			window.location.href = "/";
			return false;
		}
		//检查用户名是否被占用了
		function isUnameBeTaken(){
			
		}
		function checkInput(In) {
			var uname = document.getElementById("uname");
			if (uname.value.length == 0) {
				alert("请输入帐号")
				return false;
			}

			var uname = document.getElementById("unameEnsure");
			if (uname.value.length == 0) {
				alert("请输入确认密码")
				return false;
			}

			var pwd = document.getElementById("pwd");
			if (pwd.value.length == 0) {
				alert("请输入密码");
				return false;
			}
			return true;
		}
	</script>